/* Write your CSS here! */
#mainHeading {
    margin: 0;
    padding: 0px 20px 30px 20px;
    text-align: center;
    font-family: Copperplate, Papyrus, fantasy;
    font-size: 50px;
    color: red;
}

body {
    margin: 8px;
    padding: 50px;
    display: block;
    background-color: lavenderblush;
    
}

.funParagraph {
    color: green;
}